# ROS2 build files
/build/
/install/
/log/   
# Python cache files
__pycache__/
*.pyc       
# IDE specific files
.vscode/
.idea/
*.iml
# Temporary files   
*.tmp
*.swp
*~
# Runtime launcher state (written by main.py)
src/config/last_launch_config.json
**/last_launch_config.json
.pytest_cache/
